div{
  background-color: yellow;
  height: auto;
}
.소개{
  color: magenta;
}
div{
  background-position: center;
}
.footer{
  color: white;
}
p{
  background-color: white;
  color: black;
  font-size: 50px;
  font-family: 굴림;
  margin: 5px;
}
